@model BlogModel

@{
    ViewData["Title"] = "Blog details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Title</h1>
            <h1>The owner is : @Model.User.Username</h1>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Post Content</th>
                    <th>Post date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var post in Model.Posts)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => post.Title)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => post.Content)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => post.Date)
                        </td>                                               
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>