@model IEnumerable<lab2.Models.Blog>

@{
    ViewData["Title"] = "List of the blogs";
}

<h1>Blogs list</h1>

@if (Context.Session.GetString("UserId") != null)
{
    <p>
    <a asp-action="Create" asp-controller="Blog" class="btn btn-primary">Create a new blog</a>
    </p>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("View Posts", "Index", "Post",new { id=item.Id }, new{@class="btn btn-primary"}) 
                @if (item.UserId == Context.Session.GetInt32("UserId"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new{@class="btn btn-danger"})
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
